__pycache__
*.pyc
*.pyo
*.pyd
*.db      
*.log
*.sqlite3
*.env
*.venv
venv/
env/
.idea/
.DS_Store
*.swp
*.swo
*.bak
*.tmp
apple*
0000*
GRAPH_IS_HERE/*
!GRAPH_IS_HERE/.gitkeep
to_be_extracted/*
!to_be_extracted/.gitkeep
extractions/demo_doc_*.json
extractions/reconciled_demo_doc_*.json
